<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name="ConnectionString" connectionString="server=10.100.0.125;uid=soni;pwd=Passord01;database=online_store"/>
    </connectionStrings>
    <system.web>
        <compilation debug="true"  />
        <httpRuntime  />
    </system.web>
    <appSettings>
        
    </appSettings>
</configuration>
